<div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>Select chat</h1>
        </div>
    </div>
    <div class="row" [ngClass]="{'myclass' : shouldUseMyClass}">
        <div class="col-xs-12">
            <div class="dialoge">
                <div class="form-group">
                    <select [(ngModel)]="selectedChat" class="form-control">
                        <option *ngFor="let chat of chats" [ngValue]="chat">{{chat.name}}</option>
                    </select>
                </div>
                <button class="btn btn-default" (click)="selectChat()">Select</button>
            </div>
            <button class="btn btn-success" (click)="closeModal()">Close</button>
        </div>
    </div>
</div>