<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - GreenChat</title>
        <base href="/" />

        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
        <link rel="stylesheet" href="/css/busy.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-green">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Chat" asp-action="Index" class="navbar-brand navbar-brand-green">GreenChat</a>
                </div>
                <div class="navbar-collapse collapse">
                    <!--
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    -->
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <div id="chat-container">
            @RenderBody()
            @RenderSection("Scripts", required: false)
        </div>

    </body>
</html>
