
div#chat-container {    
    width: 80%;
    margin: auto;
    height: inherit;
}

.dialoges {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*
@media screen and (max-width: 800px){
    #listTabs{
        display: none;
    }
}
*/
.dialoge {    
    width: 25%;
    min-width: 200px;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    margin: 6px;
    border-radius: 5px;
    border-color: #5cb85c;
}

.dialoge-big {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: auto;
}

    .dialoge-big input {
        margin-right: 2px;
        max-width: none;
        flex-grow: 1;
    }

    .dialoge-big button {        
        vertical-align: top;
    }

.mess-field {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    max-width: 1100px;
}

.green-messages{
    width : 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.chatList {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    min-width: 600px;
    height: 500px;
    margin: 6px;
    margin-bottom: 6px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: #5cb85c;
    height: 90%;
}

.btn-green {
    border-radius: 5px;
}

.btn-default-green {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.navbar-green {
    background: linear-gradient(rgb(49, 89, 62),rgb(10, 99, 40));
}

.green-list-m {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 22px;
}

    .green-list-m .green-message {
        display: flex;
        padding: 1px;
    }
    .green-message.self {        
        flex-direction: row-reverse;
    }

    .green-message-btn {
        flex-direction: row;
    }
    .green-message .green-message-text {
        background: linear-gradient(rgb(210, 249, 162), rgb(187, 239, 124));
        border-radius: 25px;
        padding: 14px;
        margin: 2px;
    }

    .green-message-text.green-info {
        background: linear-gradient(rgb(238, 255, 86),rgb(187, 204, 44));
    }

    .green-message-text.green-warn {
        background: linear-gradient(rgb(255, 228, 79),rgb(255, 220, 33));
    }

.date-box{
    margin: 20px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: #d28234;
}

@media (min-width: 1600px) {
    .container {
        width: 1550px;
    }
}

.green-list {
    background-color: #FFF;
    min-height: 400px;
    list-style: none;
    margin: 0;
    padding: 15px;
    overflow: auto;
}

.green-list li{
    min-height: 32px;
}

.green-list-item {
    display: flex;
    justify-content: space-between;
}

.green-friend-online {
    flex-grow: 1;
    border-radius: 3px;
    border-color: #cccccc;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(rgb(210, 249, 162), rgb(187, 239, 124))
}

    .green-friend-online:hover {
        background: linear-gradient(rgb(170, 255, 66), rgb(146, 221, 55))
    }

    .green-friend-online.active {
        background: linear-gradient(rgb(146, 221, 55), rgb(68, 157, 68));
        color: white;
    }

.green-friend {
    flex-grow: 1;
    height: 100%;
    min-height: 40px;
    border-radius: 7px;
    border-color: #cccccc;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(rgb(255, 211, 135), rgb(255, 210, 136));
    padding: 13px;
    margin: 1px;
    overflow-x: hidden;

}
    .green-friend:hover {
        background: linear-gradient(rgb(146, 221, 55), rgb(68, 157, 68));
        color: white;
    }

    .green-friend.online.active {
        background: linear-gradient(rgb(146, 221, 55), rgb(68, 157, 68));
        color: white;
    }

    .green-friend.active {
        background: linear-gradient(rgb(146, 221, 55), rgb(68, 157, 68));
        color: white;
    }

    .green-friend.online {
        background: linear-gradient(rgb(146, 221, 55), rgb(187, 239, 124));
    }

    .green-friend.online:hover {
        background: linear-gradient(rgb(146, 221, 55), rgb(68, 157, 68));
        color: white;
    }

.green-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.green-text{
    font-weight: bold;
    color: green;
}

.green-menu li{
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 6px;
}

.green-menu li:last-child{
    border-bottom: 0px;
}

.green-menu li:hover {
    background: linear-gradient(rgb(245, 255, 234), rgb(255, 211, 135))
}

.owner-content{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.owner-name{
    display: flex;
    flex-grow: 0;
    text-align: center;
    padding-left: 5px;
    font-size: large;
    font-family: sans-serif;
}

.owner-count{
    flex-grow: 0;
    width: 10%;
    border-radius: 50%;
    font-weight: bolder;
    font-size: x-large;
    margin: auto;
}

@keyframes tabs-anim {
    from {background-color: white;}
    to {background-color: rgb(146, 221, 55)}
}

.anim {
    animation-name: tabs-anim;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function : ease-in-out;
}

.owners-list{
    height: 90%;
    overflow: auto;
}

.green-date{
    display: flex;
    color: #d28234;
    font-family: Sans-serif;
    font-size: small;
    font-weight: bold;
}

.ddd{

}

#style-15::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
    width: 13px;
    background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#439d19),
    to(#439d19),
    color-stop(.6, #93eb44))
}

.green-user-text{
    font-weight: bolder;
    color: #d28234;
}

.clear {clear: both}

.from-me {
    position: relative;
    padding: 10px 20px;
    color: black;
    background: rgb(187, 239, 124);
    border-radius: 25px;
    float: right;
    margin: 3px;
    max-width: 800px;
}
.from-them {
    position: relative;
    padding: 10px 20px;
    background: rgb(187, 239, 124);
    border-radius: 25px;
    color: black;
    float: left;
    margin: 3px;
    max-width: 800px;
}